header {
    background-color: rgb(6, 145, 145);
    height: 150px;
}

main{
    border: 2px solid gray;

}

.user-img{
    width: 150px;
    position: relative;
    top: 60px;
    left: 20px;
    border: 5px solid white;
    border-radius: 999em;
    box-shadow: 5px 5px 5px #999;

}

h1 {
    padding-left: 20px;
    margin-top: 80px;
    margin-bottom: -10px;
}
.map-marker {
    height: 30px;
    padding: 0px 20px;
}
.position {
    display: flex;
    align-items: center;
}
.description {
    margin-top: -20px;
    margin-left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.gear {
    width: 30px;
    padding: 0px 20px;

    }

.edit {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}    